{%extends "base.html"%}
{%block title%}bloghome{%endblock%}
{%block body%}welcome to bloghome page
{%for post in allposts%}
<div class="container">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.title}}</strong>
          <h3 class="mb-0">{{post.subtitle}}</h3>
          <div class="mb-1 text-muted">date</div>
          <p class="card-text mb-auto">{{post.content}}</p>
          <a href="/blog/{{post.slug}}" class="stretched-link">go to full post</a>
        </div>
    
      </div>
</div>

{%endfor%}




{%endblock%}